*, *:before, *:after { box-sizing: inherit; /*outline: none;*/ }
* { margin: 0; padding: 0; }
html {
  box-sizing: border-box;
  height: 100%;
}
body{
  height: 100%;
}
#app{
  height: 100%;
}
input::-webkit-input-placeholder {
   color: #B7BDC4;
   font-size: 14px;
}
.container{
  .van-tabs{
    flex:1
  }
  .van-tab{
    font-size: 30px;
    line-height: 1;
  }
  .van-tabs--line .van-tabs__wrap{
    height: 60px;
  }
  .van-list__finished-text{
    background-color: #f6f6f6;
    font-size: 28px;
  }
  .van-pull-refresh__head{
    font-size: 28px;
  }
}

